# Ignore macOS Finder files
.DS_Store

# Ignore node modules (you should already have this line in your .gitignore)
node_modules/**

# Ignore build artifacts
dist/
build/

# Ignore temporary files
temp/

# All secrets
.env

# ignore the config file
.continueignore

# CAs
CA/
*.pem

# Ignore package-lock.json and npm packages directory
#package-lock.json

# End of file